@using pizza_cafe.Client.Services
@using pizza_cafe.Shared.Models
@using CartList = pizza_cafe.Shared.Models.Cart

@inject WordTableService WordTableServiceInstance

<div class="col-md-3 ">
    <div class="sticky-top @ShowCardAction">
        <i class="bi bi-bag-check-fill fs-2 open-cart" @onclick="() => SetShowCard.Invoke(true)">
            @if (@CartList.CartItems.Count > 0)
            {
                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger fs-6">
                    @CartList.CartItems.Sum(item => item.Count)
                </span>
            }
        </i>
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <i class="bi bi-bag-check-fill"> </i>
                    <span>
                        Вибрані страви
                    </span>
                </div>
                <i class="bi bi-x-circle cursor-pointer" @onclick="() => SetShowCard(false)"></i>
            </div>
            <div class="card-body">
                @if (CartList.CartItems.Count == 0)
                {
                    <p>Ви не обрали жодної страви</p>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var item in CartList.CartItems)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>@item.Dish.Name</span>
                                <InputNumber TValue="int" class="number-input" @bind-Value="@item.Count" />
                                <span>@item.Dish.Price ₴</span>
                                <span class="delete-btn" @onclick="() => RemoveFromCart.Invoke(item)">
                                    <i class="bi bi-trash"></i>
                                </span>
                            </li>
                        }
                    </ul>
                    <div class="mt-3">
                        <h5>Вартість: @CartList.CartItems.Sum(item => item.Dish.Price * item.Count) грн</h5>
                        <button class="btn btn-primary" @onclick="SaveToFile">Зберегти</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public CartList CartList { get; set; }
    [Parameter] public Action<CartItem> RemoveFromCart { get; set; }
    [Parameter] public Action<bool> SetShowCard { get; set; }
    [Parameter] public bool ShowCard { get; set; }

    private string ShowCardAction => ShowCard ? "active-card" : "";

    private async void SaveToFile()
    {
        await WordTableServiceInstance.GenerateWord(CartList, "Menu");
    }

}